html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.header__background {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #4a454b;
  padding-top: 44px;
  z-index: 10;
  margin-bottom: 320px;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper-smaller {
  width: 1030px;
  margin: 0 auto;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  width: 1030px;
}
.header-menu__header-logo {
  margin: 0;
  padding: 0;
  width: ;
}
.header-menu__logo {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 230px;
  color: #82b541;
}

.logo-leaf {
  height: 60px;
  width: 54px;
  background-image: url(../img/leaf-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-image-word {
  width: 166px;
  height: 60px;
  font-size: 18px;
}
.logo-image-word__image {
  background-image: url(../img/envato.png);
  background-repeat: no-repeat;
  background-size: 166px;
  width: 166px;
  height: 40px;
}
.logo-image-word__word {
  height: 20px;
  width: 166px;
}
.nav-bar__item {
  color: #ffffff;
  text-align: center;
}
.link {
  cursor: pointer;
  text-decoration: none;
}
.nav-bar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 590px;
  height: 40px;
}
.header-calendar {
  width: 970px;
  height: 200px;
  margin: 0 auto;
  /* background-color: #90d23d; */
  border: 2px solid #90d23d;
  border-radius: 15px;
}
.angle {
  height: 600px;
  width: 100%;
  background-color: #4a454b;
  transform: skew(0deg, -5deg);
}
.header__angle {
  top: 100px;
  position: absolute;
  z-index: 9;
}
.header__under-angle {
  position: relative;
  background-color: #ffffff;
  z-index: 10;
  height: 400px;
  top: 600px;
}

.header__angle-icon {
  position: absolute;
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: skew(0deg, 5deg);
  top: -140px;
}
.header__angle-icon:nth-of-type(1) {
  background-image: url(../img/man-lamp.png);
  left: 20px;
  z-index: 9;
}
.header__angle-icon:nth-of-type(2) {
  background-image: url(../img/woman-hat.png);
  z-index: 8;
  left: 160px;
}
.header__angle-icon:nth-of-type(3) {
  background-image: url(../img/card-leaf.png);
  z-index: 7;
  left: 280px;
}
.header__angle-icon:nth-of-type(4) {
  background-image: url(../img/woman-microphone.png);
  z-index: 6;
  left: 410px;
}
.header__angle-icon:nth-of-type(5) {
  background-image: url(../img/man-hat.png);
  z-index: 5;
  left: 540px;
}

.header__angle-background {
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  height: 400px;
  width: 100%;
}
.header__form {
  height: 530px;
  width: 430px;
  position: absolute;
  z-index: 11;
  left: 670px;
  top: -160px;
  transform: skew(0deg, 5deg);
  border: solid 1px #dbdada;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.label {
}
.form__window {
  width: 370px;
  height: 55px;
}
/* MAIN */
.welcome {
  height: 1650px;
  position: relative;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__block {
  margin-bottom: 145px;
  align-self: flex-start;
}
.welcome__text {
  width: 530px;
  height: 190px;
}
.about-us {
  width: 1030px;
  height: 372px;
  margin-bottom: 95px;
}

.about-us__list {
  display: flex;
  justify-content: space-between;
}
.about-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__header {
  text-align: center;
}
.about-us__text {
  width: 300px;
  text-align: center;
}
.table {
  width: 1030px;
  height: 380px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
}
.table__string {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__string:nth-of-type(2n) {
  background-color: #373737;
}
.table__string:nth-of-type(2n + 1) {
  background-color: #4b4d4f;
}
.table__string:nth-of-type(1) {
  background-color: #a3cc40;
}
.table__column--first {
  width: 230px;
  text-align: center;
}
.table__column--second {
  width: 604px;
  padding-left: 67px;
}
.table__column--third {
  width: 130px;
}
.table-signature {
  text-align: center;
  width: 830px;
  display: flex;
  justify-content: center;
}
/* section Elites */
.elites {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  transform: skew(0deg, 5deg);
  position: relative;
}
.elites__block {
  width: 700px;
  color: #ffffff;
  text-align: right;
}
.elites__ball {
  position: absolute;
  top: -150px;
  left: 100px;
}
/* Section speakers */
.speakers {
  height: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.speakers__text-block {
  width: 970px;
  text-align: left;
}
.speakers__text {
  width: 600px;
}
.speakers__square {
  width: 970px;
  height: 970px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.speakers__square--inside {
  width: 300px;
  height: 300px;
  background-color: #90d23d;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speakers__square--inside:hover {
  background-image: url(/img/2.png);
  background-position: center;
  background-size: cover;
}
.speakers__square--inside:hover .square-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.square-modal {
  width: 230px;
  height: 250px;
  display: none;
}
.square-modal__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  color: #ffffff;
}
.square-modal__header {
  height: 100px;
  font-size: 43px;
}
.square-modal__header::after {
  display: block;
  content: "";
  width: 82px;
  height: 6px;
  background-color: #ffffff;
}
.square-modal__list {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.square-modal__svg {
  width: 30px;
  height: 30px;
}
.icon {
  fill: #ffffff;
}
/* section sponsor */
.sponsor {
  transform: skew(0deg, 5deg);
}

/* section rectangle */
.past__rectangle {
  height: 785px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}
.rectangle:nth-of-type(1) {
  width: 600px;
  height: 420px;
  background-color: #3d6ed2;
}
.rectangle:nth-of-type(2) {
  background-color: #90d23d;
  width: 570px;
  height: 420px;
}
.rectangle:nth-of-type(3) {
  background-color: #ff9d00;
  width: 500px;
  height: 368px;
}
.rectangle:nth-of-type(4) {
  background-color: #e0652a;
  width: 670px;
  height: 368px;
}
/* MAP */
.map {
  background-image: url("/img/Map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 660px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__form {
  height: 530px;
  width: 970px;
  background-color: #ffffff;
}
/* footer */
.footer {
  background-color: #90d23d;
  height: 220px;
  display: flex;
  align-items: center;
}
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  width: 290px;
}
.footer__svg {
  height: 50px;
  width: 50px;
}

.footer__text {
  text-align: center;
}
